<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="mobi.cloudone.bladepebble"
        version="1.0">
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <name>BladePebble</name>
    <description></description>
    <author>Pieter Marais</author>
    <keywords></keywords>
    <license>Copyright 2019 CloudOne.mobi All rights reserved</license>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="BladePebble">
                 <param name="android-package" value="mobi.cloudone.plugins.bladepebble.BladePebble"/>
                 <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/mobi/cloudone/plugins/bladepebble/BladePebble.java" target-dir="src/mobi/cloudone/plugins/bladepebble"/>
        <source-file src="src/android/mobi/cloudone/plugins/bladepebble/Resources.java" target-dir="src/mobi/cloudone/plugins/bladepebble"/>
        <resource-file src="aar/bladethirdpartylib.aar" target="libs/bladethirdpartylib.aar"/>
        <framework src="plugin.gradle" custom="true" type="gradleReference" />
    </platform>


    <info>Plugin installed successfully</info>
</plugin>